{% extends "base.html" %}

{% block content %}

	<article class="main">

		<h2>Random Recipe Generator</h2>

		<div>
			<select id="categorySelect"></select>
			<button id="fetchMeal" class="mealButton">generate a recipe</button>
			<button id="saveFavourite" class="mealButton">save as a favourite</button>
			<div id="mealDisplay"></div>
		</div>

	</article>

	<aside class="aside aside-1"></aside> <!-- left empty on purpose -->

	<aside class="aside aside-2"></aside> <!-- left empty on purpose -->

	<footer class="footer">
		Copyright &copy; 2024 John Scanlon<br />
		<a href="mailto:johnscanlon104@gmail.com">johnscanlon104@gmail.com</a>
	</footer>

	<script src="{{ url_for('static', filename='js/meal_api.js') }}"></script>

{% endblock %}